# Игнорируем папку сборки
build/
bin/

# Игнорируем сам бинарник (на всякий случай)
Lab6

# Системный мусор и кэш
.DS_Store
*.swp

# Скрытые папки настроек редакторов (PyCharm, VS Code)
.idea/
.vscode/